<form novalidate class="form-validation" name="projectPlanPopupForm">
<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Create Project Plan Item</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="row">
    <div class="col-md-12">
      <input-text label="CODE" id="code" tab="1" error-msg="planItem.errors.code[0]" error="planItem.errors.code" disable="!$parent.isCreate" value="planItem.code"></input-text>
      <input-text label="Description" id="description" tab="2" error-msg="planItem.errors.description[0]" error="planItem.errors.description" value="planItem.description" ></input-text>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-if="$parent.isCreate" ng-click="create()">Create</button>
  <button class="btn btn-primary" type="button" ng-if="!$parent.isCreate" ng-click="update()">Update</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
</form>
