<!-- components -->
<div class="row">
  <div class="col-md-12">

    <div ui-tabs class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#gantt" data-toggle="tab">Gantt</a></li>
        <li><a href="#projectplan" data-toggle="tab">Project Plan</a></li>
      </ul>
      <div class="tab-content">

        <div class="tab-pane" id="gantt">
          <div gantt data=data>
            <gantt-tree enabled="true">
            </gantt-tree>
          </div>
        </div>

        <div class="tab-pane" id="projectplan">
          <!--div class="box-group"-->
            <div class="box box-default ">
              <div class="box-header with-border">
                <h3 class="box-title">Project Plan</h3>

                <div class="box-tools">
                  <button type="button" class="btn btn-box-tool" ng-click="createPlanItem()">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
              <div class="box-body">
                <alert panel="projectPlan"></alert>

                <div class="box box-success collapsed-box" ng-repeat="planItem in plan.planItems">
                  <div class="box-header with-border">
                    <h3 class="box-title" data-widget="collapse">{{planItem.code}} - {{planItem.description}}</h3>
                    <span class="pp-description">1/1 | Estimation: 2300000 | Expense: 230000</span>
                    <div class="box-tools">
                      <button type="button" class="btn btn-box-tool" ng-click="createTask(planItem)">
                        <i class="fa fa-calendar-plus-o"></i>
                      </button>
                      <button type="button" class="btn btn-box-tool" ng-click="editPlanItem(planItem)">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button type="button" class="btn btn-box-tool" ng-click="deletePlanItem(planItem)">
                        <i class="fa fa-minus"></i>
                      </button>
                    </div>
                  </div>
                  <div class="box-body">

                    <div class="box box-solid box-success collapsed-box" ng-repeat="task in planItem.tasks">
                      <div class="box-header">
                        <h3 class="box-title" data-widget="collapse">{{task.code}} - {{task.description}}</h3>
                        <div class="box-tools">
                          <button type="button" class="btn btn-box-tool" ng-click="updateTask(task)">
                            <i class="fa fa-edit"></i>
                          </button>
                          <button type="button" class="btn btn-box-tool" ng-click="deleteTask(task)">
                            <i class="fa fa-minus"></i>
                          </button>
                        </div>
                      </div>
                      <div class="box-body">
                        <div class="row">
                          <div class="col-md-1">
                            <h5>Quantity:</h5>{{task.quantity}}
                          </div>
                          <div class="col-md-1">
                            <h5>Unit:</h5>{{task.unitName}}
                          </div>
                          <div class="col-md-1">
                            <h5>Rate(Rs.)</h5>{{task.rate}}
                          </div>
                          <div class="col-md-1">
                            <h5>Amount(Rs.)</h5>{{task.rate * task.quantity}}
                          </div>
                          <div class="col-md-2">
                            <h5>Estimate Days</h5>{{task.estimate_days}}
                          </div>
                          <div class="col-md-2">
                            <h5>Actual Days</h5>
                            {{task.actual_days}}
                            <button class="btn btn-primary btn-xs btn-flat">
                              <i class="fa fa-plus"></i>
                            </button>
                            <button class="btn btn-danger btn-xs btn-flat">
                              <i class="fa fa-minus"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
              <div class="overlay" ng-if="loadingProjectPlan">
                <i class="fa fa-refresh fa-spin"></i>
              </div>
            </div>
          <!--/div-->
          <!-- ./Box group-->
        </div>

      </div>
    </div>

  </div>
</div>
<!-- ./components -->
