<form novalidate class="form-validation" name="projectPlanPopupForm">
<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Create Project Task</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="row">
    <div class="col-md-6">
      <input-text label="CODE" id="code" tab="1" error-msg="projectTask.errors.code[0]" error="projectTask.errors.code" disable="!$parent.isCreate" value="projectTask.code"></input-text>
      <input-text type="number" label="Quantity" id="quantity" tab="3" error-msg="projectTask.errors.quantity[0]" error="projectTask.errors.quantity" value="projectTask.quantity"></input-text>
      <input-currency label="Rate" id="rate" tab="5" error-msg="projectTask.errors.rate[0]" error="projectTask.errors.rate" value="projectTask.rate" ></input-currency>
    </div>
    <div class="col-md-6">
      <input-text label="Description" id="description" tab="2" error-msg="projectTask.errors.description[0]" error="projectTask.errors.description" value="projectTask.description" ></input-text>
      <drop-down label="Unit" id="unit" tab="4" error-msg="projectTask.errors.unit[0]" error="projectTask.errors.unit" data="units" init="1" value="projectTask.unit"></drop-down>
      <input-text type="number" label="Estimate Days" id="estimateDays" tab="6" error-msg="projectTask.errors.estimate_days[0]" error="projectTask.errors.estimate_days" value="projectTask.estimate_days"></input-text>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-if="$parent.isCreate" ng-click="create()">Create</button>
  <button class="btn btn-primary" type="button" ng-if="!$parent.isCreate" ng-click="update()">Update</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
</form>
