<form name="basicInfo">
  <div class="row">
    <div class="col-md-6">
      <input-text label="First Name" id="firstName" placeholder="Prabhath" value="peopleProfile.first_name"></input-text>
      <datepicker label="Date of Birth" required="false" value="peopleProfile.dob"></datepicker>
      <input-text label="Address Line 1" id="addressLine1" value="peopleProfile.address_line1" placeholder="No 222"></input-text>
      <input-text label="Address Line 2" id="addressLine2" value="peopleProfile.address_line2" placeholder="Backer Street"></input-text>
      <input-text label="Address Line 3" id="addressLine2" value="peopleProfile.address_line3" placeholder="London"></input-text>
      <input-file label="Profile Picture" value="peopleProfile.profilePicture" id="profilePicture"></input-file>
    </div>

    <div class="col-md-6">
      <input-text label="Last Name" id="lastName" placeholder="Darshana" value="peopleProfile.last_name"></input-text>
      <input-text type="email" label="E-mail" id="email" value="peopleProfile.email" placeholder="example@centec.com"></input-text>
      <input-text type="tel" label="Tele Home" id="tel_home" value="peopleProfile.tel_home" placeholder="0112254488"></input-text>
      <input-text type="tel" label="Tele Ofice" id="tel_office" value="peopleProfile.tel_office" placeholder="0112254488"></input-text>
      <input-text type="tel" label="Tele Mobile" id="tel_mobile" value="peopleProfile.tel_mobile" placeholder="0712003005"></input-text>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button type="submit" ng-click="submitBasicInfo()" class="btn btn-primary">Update</button>
    </div>
  </div>

</form>
