<div class="box box-primary">
  <div class="box-body box-profile">
    <!--img class="profile-user-img img-responsive img-circle" src="images/people/profile_{{profileId}}.jpg" alt="User profile picture"-->

    <h3 class="profile-username text-center">{{profile.first_name + ' ' + profile.last_name}}</h3>

    <p class="text-muted text-center">{{designation}}</p>

    <div class="box-body">
      <strong><i class="fa fa-map-marker margin-r-5"></i>Location</strong>

      <p class="text-muted">
        {{profile.address_line1}} <br/>
        {{profile.address_line2}} <br/>
        {{profile.address_line3}}
      </p>

      <hr>

      <strong><i class="fa fa-phone margin-r-5"></i>Contact</strong>

      <p>Tel(home): {{profile.tel_home}} </p>
      <p>Tel(mobile): {{profile.tel_mobile}}</p>
      <p>Tel(ofice):{{profile.tel_office}}</p>
      <p>Email: {{profile.email}}</p>
      <hr>

      <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

      <p ng-if="noteBody">{{noteTitle}}: Rs. {{noteBody}}</p>
    </div>
    <!-- /.box-body -->
  </div>
</div>
<!-- /.box-body -->
</div>
