<form name="userManager">
  <div class="row">
    <div class="col-md-6">
      <input-text type="password" label="Current Password"></input-text>
      <input-text type="password" label="New Password"></input-text>
      <input-text type="password" label="Confirm Password"></input-text>
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
  </div>
</form>
