<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>Centec</b>ERP</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <alert></alert>

    <form name="loginForm">
      <div class="form-group has-feedback" ng-class="{'has-error':validateEmail(loginForm.email)}">
        <input type="email" class="form-control" name="email" ng-model="login.email" placeholder="Email" required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <span class="help-block" ng-if="validateEmail(loginForm.email)">{{emailError}}</span>
      </div>
      <div class="form-group has-feedback" ng-class="{'has-error':validatePassword(loginForm.password)}">
        <input type="password" class="form-control" name="password" ng-model="login.password" placeholder="Password" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <span class="help-block" ng-if="validatePassword(loginForm.password)">{{passwordError}}</span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <a href="#">I forgot my password</a><br>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat" ng-click="btnLogin()">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
