/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/*this change is particularly for project plan view*/
.pp-description{
  display: block;
  color:#999;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}

/*form validation css*/
.form-validation input.ng-invalid.ng-touched{
  border-color: #dd4b39;
  box-shadow: none;
  color: #dd4b39;
}

/*list view hover*/
.list-view{
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-view ul{
  display: block;
  list-style-type: disc;
}
.list-view li{
  margin: 50px
  padding: 20px;

}
.list-view li > span > .fa{
  cursor:pointer
}
.list-view li:hover{
  white-space: nowrap;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #d2d6de;
}

/*Input number set align to right*/
input[type="number"]{
  text-align:right;
}
