<div class="form-group" ng-class="{'has-error':error}">
  <label class="control-label" for="{{id}}">
    {{label}}
  </label>
  <input type="file" class="form-control" id="{{id}}" name="{{id}}"
    placeholder="{{placeholder}}" ng-required="required" ngf-select="setFile($file)">
  <span class="help-block" ng-if="error">{{errorMsg}}</span>
</div>
