<section class="content">
  <div class="row">
    <div class="col-md-3">
      <quick-info></quick-info>
    </div>

    <div class="col-md-9">
      <!-- Custom Tabs -->
        <div ui-tabs class="nav-tabs-custom">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#basicInfo" data-toggle="tab">Basic Info</a></li>
            <li><a href="#userManager" data-toggle="tab">User Manager</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane" id="basicInfo">
              <basic-info></basic-info>
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="userManager">
              <user-manager></user-manager>
            </div>
            <!-- /.tab-pane -->
          </div>
          <!-- /.tab-content -->
        </div>
        <!-- nav-tabs-custom -->
    </div>
  </div>
</section>
