<div class="modal-header">
  <h3 class="modal-title" id="modal-title" ng-if="$parent.isCreate">Create Person</h3>
  <h3 class="modal-title" id="modal-title" ng-if="!$parent.isCreate">Update Person</h3>
</div>
<div class="modal-body" id="modal-body">
  <form novalidate class="form-validation" name="personProfile">
    <div class="row">
      <div class="col-md-6">
        <input-text label="First Name" id="firstName" tab="1" placeholder="Prabhath" error-msg="peopleProfile.errors.first_name[0]" error="peopleProfile.errors.first_name" value="peopleProfile.first_name"></input-text>
        <input-text label="Designation" id="designation" tab="3" value="peopleProfile.designation" placeholder="Owner"></input-text>
        <input-text label="Address Line 1" id="addressLine1" tab="5" value="peopleProfile.address_line1" placeholder="No 222"></input-text>
        <input-text label="Address Line 2" id="addressLine2" tab="6" value="peopleProfile.address_line2" placeholder="Backer Street"></input-text>
        <input-text label="Address Line 3" id="addressLine2" tab="7" value="peopleProfile.address_line3" placeholder="London"></input-text>
      </div>

      <div class="col-md-6">
        <input-text label="Last Name" id="lastName" tab="2" error-msg="peopleProfile.errors.last_name[0]" error="peopleProfile.errors.last_name" placeholder="Darshana" value="peopleProfile.last_name"></input-text>
        <input-text type="email" label="E-mail" id="email" tab="4" error-msg="peopleProfile.errors.email[0]" error="peopleProfile.errors.email"  value="peopleProfile.email" placeholder="example@centec.com"></input-text>
        <input-text type="tel" label="Tele Home" id="tel_home" tab="8" error-msg="peopleProfile.errors.tel_home[0]" error="peopleProfile.errors.tel_home" value="peopleProfile.tel_home" placeholder="0112254488"></input-text>
        <input-text type="tel" label="Tele Ofice" id="tel_office" tab="9" error-msg="peopleProfile.errors.tel_office[0]" error="peopleProfile.errors.tel_office" value="peopleProfile.tel_office" placeholder="0112254488"></input-text>
        <input-text type="tel" label="Tele Mobile" id="tel_mobile" tab="10" error-msg="peopleProfile.errors.tel_mobile[0]" error="peopleProfile.errors.tel_mobile" value="peopleProfile.tel_mobile" placeholder="0712003005"></input-text>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-if="$parent.isCreate" ng-click="create()">Create</button>
  <button class="btn btn-primary" type="button" ng-if="!$parent.isCreate" ng-click="update()">Update</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
