<div class="form-group" ng-class="{'has-error':error}">
  <label class="control-label" for="{{id}}">
    {{label}}
  </label>
  <angucomplete-alt id="client"
          placeholder="placeholder"
          pause="100"
          selected-object="value"
          local-data="data"
          search-fields="name"
          title-field="name"
          minlength="1"
          input-class="form-control"
          initial-value="init"
          disable-input="desabled"></angucomplete-alt>
  <span class="help-block" ng-if="error">{{errorMsg}}</span>
</div>
