<div class="row">
  <div class="col-md-12">
    <!--Create Project -->
    <div class="box collapsed-box">
      <div class="box-header with-border">
        <h3 class="box-title">Create Project</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse">
            <i class="fa fa-angle-double-left"></i>
          </button>
        </div>
      </div>
      <div class="box-body">
        <alert panel="createProject"></alert>
        <project-meta-data-form type="create"></project-meta-data-form>
      </div>
    </div>
    <!--/Box-->

    <!-- Projects table -->
    <div class="box">
      <div class="box-header with-border">
        <div class="row">
          <div class="col-sm-2">
            <h3 class="box-title">Projects</h3>
          </div>
          <div class="col-sm-7">
            <button class="btn btn-success" ng-click="createProject()" type="button">
              <i class="fa fa-plus"></i>
              Create
            </button>
          </div>
          <div class="col-sm-3">
            <div class="no-margin pull-right">
              <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" class="form-control" ng-model="searchProject" placeholder="Search">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body no-padding">
        <div class="table-responsive">
          <table class="table table-bordered">
            <tr>
              <th>Project</th>
              <th>Estimation</th>
              <th>Current Expense</th>
              <th style="width: 350px">Progress</th>
              <th style="width: 40px">Label</th>
            </tr>
            <tr ng-repeat="project in projects.array | filter:{name:searchProject}">
              <td><a href="{{URL_APPENDER}}/projects/{{project.id}}/expense">{{project.name}}</a></td>
              <td>{{project.estimation}}</td>
              <td>{{project.amount}}</td>
              <td>
                <div class="progress progress-xs">
                  <div class="progress-bar progress-bar-danger" style="width: 10%"></div>
                </div>
              </td>
              <td><span class="badge bg-red">55%</span></td>
            </tr>
          </table>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
    <!--/box-->
  </div>
</div>
