<!-- Info Box row -->
<div class="row">
  <div class="col-md-3">
    <!-- Info Boxes Style 2 -->
    <a href="{{URL_APPENDER}}/projects/{{project.id}}/plan">
      <div class="info-box bg-yellow">
        <span class="info-box-icon"><i class="fa fa-heartbeat"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Project Plan</span>
          <span class="info-box-number">12/55</span>

          <div class="progress">
            <div class="progress-bar" style="width: 60%"></div>
          </div>
          <span class="progress-description">
            60% completed
          </span>
        </div>
        <!-- /.info-box-content -->
      </div>
    </a>
    <!-- /.info-box -->
  </div>

  <a href="{{URL_APPENDER}}/projects/{{project.id}}/expense">
    <div class="col-md-3">
      <div class="info-box bg-green">
        <span class="info-box-icon">Rs.</span>

        <div class="info-box-content">
          <span class="info-box-text">Expense</span>
          <span class="info-box-number">92,050</span>

          <div class="progress">
            <div class="progress-bar" style="width: 20%"></div>
          </div>
          <span class="progress-description">
            20% utilized
          </span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
  </a>

  <a href="{{URL_APPENDER}}/clients/{{project.client.id}}">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-yellow"><i class="fa fa-street-view"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">{{project.client.name}}</span>
          <span class="progress-description">
            <i class="fa fa-phone"></i>&nbsp;{{project.client.tel_office}} <br/>
            <i class="fa  fa-envelope"></i>&nbsp;{{project.client.email}}
          </span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
  </a>
  <!-- /.col -->

  <a href="{{URL_APPENDER}}/projects/{{project.id}}/details">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Project Details</span>

        </div>
      </div>
    </div>
  </a>
</div>
<!-- ./Info Box row -->
<ui-view></ui-view>
