<form novalidate class="form-validation" name="projectMetaDataForm">
  <div class="row">
    <div class="col-md-6">
      <input-text label="Project Name" id="projectName" error-msg="project.errors.name[0]" error="project.errors.name"  placeholder="eg: Benova" value="project.name"></input-text>
      <input-currency label="Original Estimation" id="originalEstimation" placeholder="eg: 5000000" value="project.estimation"></input-currency>
      <input-text type="tel" label="Tele Ofice" id="tel_office" error-msg="project.errors.tel_office[0]" error="project.errors.tel_office"  value="project.tel_office" placeholder="0112254488"></input-text>
    </div>
    <div class="col-md-6">
      <input-suggest label="Client" data="clients.clientsArray" error-msg="project.errors.client[0]" error="project.errors.client" value="project.client" init="project.client" desabled="type=='update'"></input-suggest>
      <input-text label="Address Line 1" id="addressLine1" value="project.address_line1" placeholder="No 222"></input-text>
      <input-text label="Address Line 2" id="addressLine2" value="project.address_line2" placeholder="Backer Street"></input-text>
      <input-text label="Address Line 3" id="addressLine2" value="project.address_line3" placeholder="London"></input-text>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button type="submit" ng-click="create()" class="btn btn-primary" ng-if="type=='create'">Create</button>
      <button type="submit" ng-click="update()" class="btn btn-primary" ng-if="type=='update'">Update</button>
    </div>
  </div>
</form>
