<div class="callout callout-{{alert.alertType}}" ng-show="showAlert">
  <p>{{alert.alertMsg}}</p>
</div>

<!--div class="myalert alert alert-{{alert.alertType}} alert-dismissible"  ng-show="showAlert">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p>{{alert.alertMsg}}</p>
</div-->
