
<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Delete {{confirmbox.item}}</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="row">
    <div class="col-md-12">
      <p>
        Are you sure you want to delete {{confirmbox.item}}
        <b>{{confirmbox.description}}</b>
      </p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-danger pull-left" ng-click="yes()" type="button">Yes</button>
  <button class="btn btn-warning" ng-click="cancel()" type="button">Cancel</button>
</div>
