<div class="form-group" ng-class="{'has-error':error}">
  <label class="control-label" for="{{id}}">
    {{label}}
  </label>
  <input type="{{type}}" class="form-control" id="{{id}}" name="{{id}}" tabindex="{{tab}}" ng-disabled="disable"
    placeholder="{{placeholder}}" ng-required="required" ng-model="value" pattern="{{pattern}}" ng-change="change()">
  <span class="help-block" ng-if="error">{{errorMsg}}</span>
</div>
