<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- search form (Optional) -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
      </div>
    </form>
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">MAIN MANU</li>
      <li ng-class="{active:currentState.match('home.dashboard')}">
        <a href="{{URL_APPENDER}}/dashboard"><i class="fa fa-desktop"></i> <span>Dashboard</span></a>
      </li>
      <li ng-class="{active:currentState.match('home.clients')}">
        <a href="{{URL_APPENDER}}/clients/"><i class="fa fa-street-view"></i> <span>Clients</span></a>
      </li>
      <li ng-class="{active:currentState.match('home.projects')}">
        <a href="{{URL_APPENDER}}/projects/"><i class="fa fa-briefcase"></i> <span>Projects</span></a>
      </li>
      <li ng-class="{active:currentState.match('home.assets')}">
        <a href="{{URL_APPENDER}}/assets/"><i class="fa fa-cubes"></i> <span>Material &amp; Machinery</span></a>
      </li>
      <!--li class="treeview">
        <a href="{{URL_APPENDER}}">
          <i class="fa fa-pie-chart"></i>
          <span>Material &amp; Machinery</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> </a></li>
          <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Morris</a></li>
          <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>
          <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i> Inline charts</a></li>
        </ul>
      </li-->
      <li ng-class="{active:currentState.match('home.suppliers')}">
        <a href="{{URL_APPENDER}}/suppliers/"><i class="fa fa-truck"></i> <span>Suppliers</span></a>
      </li>
      <li ng-class="{active:currentState.match('home.employees')}">
        <a href="{{URL_APPENDER}}/employees/"><i class="fa fa-users"></i> <span>Employees</span></a>
      </li>

      <li class="header">SETTINGS</li>
      <li ng-class="{active:currentState.match('home.appsettings')}">
        <a href="{{URL_APPENDER}}/settings/app"><i class="fa fa-gear"></i><span>Application Settings</span></a>
      </li>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
