<div class="row">
  <div class="col-md-12">
    <!-- Create Employee -->
    <div class="box collapsed-box">
      <div class="box-header">
        <h3 class="box-title">Create Employee</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-angle-double-left"></i>
          </button>
        </div>
      </div>
      <div class="box-body">
        <alert panel="createEmployee"></alert>
        <employee-meta-data-form type="create"></employee-meta-data-form>
      </div>
      <div class="overlay" ng-if="loading">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
    </div>
    <!-- /Create Employee -->

    <!-- View Employees -->
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Clients</h3>

        <div class="box-tools">
          <div class="no-margin pull-right">
            <div class="inner-addon left-addon">
              <i class="glyphicon glyphicon-search"></i>
              <input type="text" class="form-control" ng-model="searchEmployeesQuery" ng-change="searchEmployees()" placeholder="Search">
            </div>
          </div>
        </div>
      </div>
      <div class="box-body">
        <alert panel="viewEmployee"></alert>
        <div class="table-responsive">
          <table class="table table-bordered" at-table at-paginated at-list="filteredEmployees" at-config="tableConfig">
            <thead></thead>
            <tbody>
              <tr>
                <td at-sortable at-attribute="Employee" at-initial-sorting="asc">
                  <a href="{{URL_APPENDER}}/employees/{{item.id}}">{{item.first_name + ' ' + item.last_name}}</a>
                </td>
                <td at-sortable at-attribute="Category">
                  {{item.category}}
                </td>
                <td at-attribute="Latest Project">
                  <a href="{{URL_APPENDER}}/projects/1/plan">Benova</a>
                </td>
                <td at-attribute="Telephone">
                  {{item.tel_mobile}}
                </td>
                <td at-attribute="Payment Balance">
                  Rs. {{item.balance_payment}}
                </td>
                <td at-attribute="Action">
                  <button class="btn btn-danger" ng-click="deleteEmployee(item)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <at-pagination at-list="filteredEmployees" at-config="tableConfig"></at-pagination>
        </div>
      </div>
      <div class="overlay" ng-if="loadingViewEmployees">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
    </div>
    <!-- /View Employees -->

  </div>
</div>
