<div class="row">
  <div class="col-md-3">
    <quick-info profile="employee.profile" designation="employee.category.name"
      note-title="Balance Payment" note-body="employee.balance_payment"></quick-info>
  </div>
  <div class="col-md-9">
    <!-- Custom Tabs -->
      <div ui-tabs class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#logWork" data-toggle="tab">Log Work</a></li>
          <li><a href="#transactions" data-toggle="tab">Transactions</a></li>
          <li><a href="#editProfile" data-toggle="tab">Edit Profile</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane" id="logWork">
            <alert panel="logWork"></alert>
            <log-work></log-work>
          </div>
          <div class="tab-pane" id="transactions">
            <emp-transactions></emp-transaction>
          </div>
          <div class="tab-pane" id="editProfile">
            <edit-profile employee="employee"></edit-profile>
          </div>
        </div>
      </div>
  </div>
</div>
