
<form novalidate class="form-validation" name="clientMetaDataForm">
  <div class="row">
    <div class="col-md-6">
      <input-text label="First Name" id="firstName" tab="1" error-msg="employee.errors.first_name[0]" error="employee.errors.first_name" placeholder="Prabhath" value="employee.profile.first_name"></input-text>
      <drop-down label="Category" id="designation" tab="3" error-msg="employee.errors.category[0]" error="employee.errors.category" data="categories" value="employee.category"></drop-down>
      <input-text type="email" label="E-mail" id="email" tab="5" value="employee.profile.email" placeholder="example@centec.com"></input-text>
      <input-text label="Address Line 1" id="addressLine1" tab="6" value="employee.profile.address_line1" placeholder="No 222"></input-text>
      <input-text label="Address Line 2" id="addressLine2" tab="7" value="employee.profile.address_line2" placeholder="Backer Street"></input-text>
      <input-text label="Address Line 3" id="addressLine2" tab="8" value="employee.profile.address_line3" placeholder="London"></input-text>
    </div>

    <div class="col-md-6">
      <input-text label="Last Name" id="lastName" tab="2" error-msg="employee.errors.last_name[0]" error="employee.errors.last_name" placeholder="Darshana" value="employee.profile.last_name"></input-text>
      <input-currency label="Pay Per Day" id="payPerDay" tab="4" error-msg="employee.errors.pay_per_day[0]" error="employee.errors.pay_per_day" value="employee.pay_per_day" placeholder="1400"></input-currency>
      <input-text type="tel" label="Tele Home" id="tel_home" tab="9" value="employee.profile.tel_home" placeholder="0112254488"></input-text>
      <input-text type="tel" label="Tele Ofice" id="tel_office" tab="10" value="employee.profile.tel_office" placeholder="0112254488"></input-text>
      <input-text type="tel" label="Tele Mobile" id="tel_mobile" tab="11" error-msg="employee.errors.tel_mobile[0]" error="employee.errors.tel_mobile"  value="employee.profile.tel_mobile" placeholder="0712003005"></input-text>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <button type="submit" class="btn btn-primary" ng-click="create()" ng-if="type=='create'">Create</button>
    <button type="submit" class="btn btn-primary" ng-click="update()" ng-if="type=='update'">Update</button>
  </div>
</div>
