<div class="form-group" ng-class="{'has-error':error}">
  <label class="control-label" for="{{id}}">
    {{label}}
  </label>
  <div class="input-group">
    <span class="input-group-addon">Rs.</span>
    <input type="number" string-to-number class="form-control" id="{{id}}" tabindex="{{tab}}"
      placeholder="{{placeholder}}" ng-required="required" ng-model="value">
    <span class="input-group-addon">.00</span>
  </div>
  <span class="help-block" ng-if="error">{{errorMsg}}</span>
</div>
