<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee Categories</h3>
  </div>
  <div class="box-body">
    <alert panel="empCategory"></alert>
    <div class="row">
      <div class="col-md-12">
        <form novalidate class="form-validation">
          <input-text label="Category" error-msg="empCategory.errors.category[0]" error="empCategory.errors.category" value="empCategory.category" on-enter="addCategory()"></input-text>
        </form>
      </div>
    </div>
    <section class="sidebar">
      <ul class="list-view">
        <li ng-repeat="category in empCategories">
          <span>{{category.name}}</span>
          <span class="pull-right">
            <i class="fa fa-trash" ng-click="deleteEmpCategory(category)"></i>
          </span>
        </li>
      </ul>
    </section>
  </div>
  <div class="overlay" ng-if="loading">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
</div>
