<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-3">
      <emp-category></emp-category>
    </div>
    <div class="col-md-3">
      <units></units>
    </div>
  </div>
</section>
<!-- /.content -->
