<div class="form-group" ng-class="{'has-error':error}">
  <label class="control-label" for="{{id}}">
    {{label}}
  </label>
  <select class="form-control" id="{{id}}" name="{{id}}" tabindex="{{tab}}"
    ng-options="option.name for option in data track by option.id"
    ng-required="required"
    ng-change="change()"
    ng-Disabled="ngDisabled"
    ng-model="value"></select>
  <span class="help-block" ng-if="error">{{errorMsg}}</span>
</div>
