<div class="row">
  <div class="col-md-12">

    <div ui-tabs class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#project" data-toggle="tab">Project Overview</a></li>
        <li><a href="#employees" data-toggle="tab">Employees Overview</a></li>
        <li><a href="#assets" data-toggle="tab">Assets Overview</a></li>
      </ul>
      <div class="tab-content">

        <div class="tab-pane" id="project">
          project
        </div>

        <div class="tab-pane" id="employees">
          employees
        </div>

        <div class="tab-pane" id="assets">
          assets
        </div>

      </div>
    </div>

  </div>
</div>
