<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Create New Purchas Order: {{supplier.name}}</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="row">
    <div class="col-md-6">
      <input-suggest label="Item" data="spo.clientsArray" error-msg="spo.errors.client[0]" error="spo.errors.client" value="spo.item" init="spo.client" desabled=""></input-suggest>
      <input-text label="Quantity" type="number" tab="1" id="quantity" error="spo.errors.work_description" error-msg="spo.errors.work_description[0]" value="spo.work_description" required="true"></input-text>
      <drop-down label="Project" tab="2" id="projectSelector" error="spo.errors.project" error-msg="spo.errors.project[0]" data="projects.array" value="spo.project"  required="true"></drop-down>
    </div>

    <div class="col-md-6">
      <datepicker ng-disabled="" label="Date" id="date" error="spo.errors.date" error-msg="spo.errors.date[0]" value="" required="true"></datepicker>
      <drop-down label="Unit" tab="3" value=""></drop-down>
      <input-text label="Note" tab="" id="note" error="spo.errors.note" error-msg="spo.errors.note[0]" value="spo.note"></input-text>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <input-currency label="Rate" tab="5" value="spo.day_paid"></input-currency>
    </div>
    <div class="col-md-4">
      <input-currency label="Payment" tab="5" value="spo.day_paid"></input-currency>
    </div>
    <div class="col-md-4">
      <drop-down label="Payment Type"></drop-down>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="create()">Ok</button>
</div>
