<div class="row">
  <div class="col-md-9">
    <button class="btn btn-primary" ng-click="newPO()">New Purchas Order</button>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-bordered" at-table at-paginated at-list="filteredEmployees" at-config="tableConfig">
        <thead></thead>
        <tbody>
          <tr>
            <td at-sortable at-attribute="PO#" at-initial-sorting="asc">
              <a href=""></a>
            </td>
            <td at-sortable at-attribute="Item">

            </td>
            <td at-attribute="Project">
              <a href=""></a>
            </td>
            <td at-attribute="QTY">

            </td>
            <td at-attribute="Unit">

            </td>
            <td at-attribute="Amount">

            </td>
            <td at-attribute="Type">

            </td>
            <td at-attribute="Action">
              <button class="btn btn-danger" ng-click="deleteEmployee(item)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <at-pagination at-list="filteredEmployees" at-config="tableConfig"></at-pagination>
    </div>
  </div>
</div>
