<div class="row">
  <div class="col-md-12">

    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Project Details</h3>
      </div>
      <div class="box-body">
        <alert panel="updateProject"></alert>
        <project-meta-data-form type="update"></project-meta-data-form>
      </div>
    </div>
    <div class="overlay" ng-if="loadingUpdateProject">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
  </div>
</div>
