<div class="row">
  <div class="col-md-12">
    <alert panel="createClient"></alert>
    <!--View Clients -->
    <div class="box">
      <div class="box-header with-border">
        <div class="row">
          <div class="col-sm-2">
            <h3 class="box-title">Clients</h3>
          </div>
          <div class="col-sm-7">
            <button class="btn btn-success" ng-click="createClient()" type="button">
              <i class="fa fa-plus"></i>
              Create
            </button>
          </div>
          <div class="col-sm-3">
            <div class="no-margin pull-right">
              <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" class="form-control" ng-model="searchClient" placeholder="Search">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-body">
        <alert panel="viewClients"></alert>
        <div class="table-responsive">
          <table class="table table-bordered">
            <tr>
              <th>Supplier</th>
              <th>Projects</th>
              <th>Telephone</th>
              <th>People</th>
              <th>Action</th>
            </tr>
            <tr ng-repeat="client in clients.array | filter:{name:searchClient}">
              <td><a href="{{URL_APPENDER}}/clients/{{client.id}}">{{client.name}}</a></td>
              <td>{{client.projects}}</td>
              <td>{{client.tel_office}}</td>
              <td>
                <a href="" ng-click="viewPeople()">{{client.people}}</a>
              </td>
              <td>
                <button class="btn btn-danger" ng-click="delete(client)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="overlay" ng-if="loading">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
    </div>
    <!--/View Clients-->
  </div>
</div>
