<div class="row">
  <div class="col-md-12">
    <!--Update Client -->
    <div class="box collapsed-box">
      <div class="box-header with-border">
        <h3 class="box-title">Update Client</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-angle-double-left"></i>
          </button>
        </div>
      </div>
      <div class="box-body">
        <alert panel="updateClient"></alert>
        <client-meta-data-form type="update"></client-meta-data-form>
      </div>
      <div class="overlay" ng-if="loadingUpdateClient">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
    </div>
    <!--/Update Client-->

    <!-- Client People -->
    <div class="box">
      <div class="box-header with-border">
        <div class="row">
          <div class="col-sm-2">
            <h3 class="box-title">Client People</h3>
          </div>
          <div class="col-sm-7">
            <button class="btn btn-primary" ng-click="addPerson()">Add Person</button>
          </div>
          <div class="col-sm-3">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </div>
        </div>
      </div>
      <div class="box-body">
        <alert panel="viewClientPeople"></alert>
        <div class="table-responsive">
          <table class="table table-bordered">
            <tr>
              <th>Name</th>
              <th>Designation</th>
              <th>Email</th>
              <th>Tel(Office)</th>
              <th>Tel(Mobile)</th>
              <th>Tel(Home)</th>
              <th>Actions</th>
            </tr>
            <tr ng-repeat="person in client.people">
              <td>{{person.first_name + ' ' + person.last_name}}</td>
              <td>{{person.designation}}</td>
              <td>{{person.email}}</td>
              <td>{{person.tel_office}}</td>
              <td>{{person.tel_mobile}}</td>
              <td>{{person.tel_home}}</td>
              <td class="center">
                <button class="btn btn-warning">
                  <i class="fa fa-edit" ng-click="updatePerson(person)"></i>
                </button>
                <button class="btn btn-danger" ng-click="deletePerson(person)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="overlay" ng-if="loadingViewClientPeople">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
    </div>
    <!--/Update Client-->
  </div>
</div>
