
<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Delete Client</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="row">
    <div class="col-md-12">
      <p>Are you sure you want to delete client <b>{{client.first_name + ' ' + client.last_name}}</b>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-danger pull-left" ng-click="yes()" type="button">Yes</button>
  <button class="btn btn-warning" ng-click="cancel()" type="button">Cancel</button>
</div>
