<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Create New Client</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="row">
    <div class="col-md-12">
      <form novalidate class="form-validation" name="clientMetaDataForm">
        <div class="row">
          <div class="col-md-6">
            <input-text label="Client Name" id="clientName" error-msg="client.errors.name[0]" error="client.errors.name" value="client.name" placeholder="eg: Benova"></input-text>
            <input-text type="tel" label="Tele Ofice" id="tel_office" value="client.tel_office" placeholder="0112254488"></input-text>
            <input-text type="tel" label="Fax Ofice" id="fax_office" value="client.fax_office" placeholder="0112254488"></input-text>
          </div>
          <div class="col-md-6">
            <input-text label="Email" type="email" id="fax_office" error-msg="client.errors.email[0]" error="client.errors.email" value="client.email" placeholder="email@company.com"></input-text>
            <input-text label="Address Line 1" id="addressLine1" value="client.address_line1" placeholder="No 222"></input-text>
            <input-text label="Address Line 2" id="addressLine2" value="client.address_line2" placeholder="Backer Street"></input-text>
            <input-text label="Address Line 3" id="addressLine2" value="client.address_line3" placeholder="London"></input-text>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" ng-click="create()" ng-if="$parent.isCreate">Create</button>
  <button type="submit" class="btn btn-primary" ng-click="update()" ng-if="">Update</button>
  <button class="btn btn-warning" ng-click="cancel()" type="button">Cancel</button>
</div>
