<form novalidate class="form-validation" name="clientMetaDataForm">
  <div class="row">
    <div class="col-md-6">
      <input-text label="Supplier Name" id="clientName" error-msg="supplier.errors.name[0]" error="supplier.errors.name" placeholder="eg: Wedisa Hardware" value="supplier.name"></input-text>
      <input-text type="tel" label="Tele Ofice" id="tel_office" error-msg="supplier.errors.tel_office[0]" error="supplier.errors.tel_office" value="supplier.tel_office" placeholder="0112254488"></input-text>
      <input-text type="tel" label="Fax Ofice" id="fax_office" error-msg="supplier.errors.fax_office[0]" error="supplier.errors.fax_office" value="supplier.fax_office" placeholder="0112254488"></input-text>
    </div>
    <div class="col-md-6">
      <input-text label="Email" type="email" id="email"  error-msg="supplier.errors.email[0]" error="supplier.errors.email" value="supplier.email" placeholder="email@company.com"></input-text>
      <input-text label="Address Line 1" id="addressLine1" value="supplier.address_line1" placeholder="No 222"></input-text>
      <input-text label="Address Line 2" id="addressLine2" value="supplier.address_line2" placeholder="Backer Street"></input-text>
      <input-text label="Address Line 3" id="addressLine2" value="supplier.address_line3" placeholder="London"></input-text>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button type="submit" ng-click="create()" class="btn btn-primary" ng-if="type=='create'">Create</button>
      <button type="submit" ng-click="update()" class="btn btn-primary" ng-if="type=='update'">Update</button>
    </div>
  </div>
</form>
