<div class="row">
  <div class="col-md-3">
    <sup-quick-info supplier="supplier"></sup-quick-info>
  </div>
  <div class="col-md-9">
    <div ui-tabs class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#purchasing" data-toggle="tab">Purchasing</a></li>
        <li><a href="#transactions" data-toggle="tab">Transactions</a></li>
        <li><a href="#people" data-toggle="tab">People</a></li>
        <li><a href="#editDetails" data-toggle="tab">Edit Supplier Details</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane" id="purchasing">
          <alert panel="logWork"></alert>
          <supplier-purchasing supplier="supplier"></supplier-purchasing>
        </div>
        <div class="tab-pane" id="transactions">

        </div>
        <div class="tab-pane" id="people">
          <div class="row">
            <div class="col-sm-8">
              <button class="btn btn-primary" ng-click="addPerson()">Add Person</button>
            </div>
            <div class="col-sm-4">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input type="text" ng-model="searchPeople" class="form-control" placeholder="Search">
              </div>
            </div>
          </div>
          <hr/>
          <alert panel="viewSupplierPeople"></alert>
          <div class="table-responsive">
            <table class="table table-bordered">
              <tr>
                <th>Name</th>
                <th>Designation</th>
                <th>Email</th>
                <th>Tel(Office)</th>
                <th>Tel(Mobile)</th>
                <th>Tel(Home)</th>
                <th>Actions</th>
              </tr>
              <tr ng-repeat="person in supplier.people | filter:searchPeople">
                <td>{{person.first_name + ' ' + person.last_name}}</td>
                <td>{{person.designation}}</td>
                <td>{{person.email}}</td>
                <td>{{person.tel_office}}</td>
                <td>{{person.tel_mobile}}</td>
                <td>{{person.tel_home}}</td>
                <td class="center">
                  <button class="btn btn-warning" ng-click="updatePerson(person)">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button class="btn btn-danger" ng-click="deletePerson(person)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="tab-pane" id="editDetails">
          <alert panel="updateSupplier"></alert>
          <supplier-meta-data-form type="update"></supplier-meta-data-form>
          <div class="overlay" ng-if="loadingUpdateSupplier">
            <i class="fa fa-refresh fa-spin"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
