<div class="row">
  <div class="col-md-12">
    <!--Create Supplier -->
    <div class="box  collapsed-box">
      <div class="box-header with-border">
        <h3 class="box-title">Create Supplier</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-angle-double-left"></i>
          </button>
        </div>
      </div>
      <div class="box-body">
        <alert panel="createSupplier"></alert>
        <supplier-meta-data-form type="create"></supplier-meta-data-form>
      </div>
      <div class="overlay" ng-if="loading">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
    </div>
    <!--/Create Supplier-->

    <!--View Clients -->
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Suppliers</h3>

        <div class="box-tools">
          <div class="no-margin pull-right">
            <div class="inner-addon left-addon">
              <i class="glyphicon glyphicon-search"></i>
              <input type="text" ng-model="searchSuppliers" class="form-control" placeholder="Search">
            </div>
          </div>
        </div>
      </div>
      <div class="box-body">
        <alert panel="viewSupplier"></alert>
        <div class="table-responsive">
          <table class="table table-bordered">
            <tr>
              <th>Supplier</th>
              <th>Telephone</th>
              <th>Fax</th>
              <th>People</th>
              <th>Action</th>
            </tr>
            <tr ng-repeat="supplier in suppliers.array | filter:searchSuppliers">
              <td><a href="{{URL_APPENDER}}/suppliers/{{supplier.id}}">{{supplier.name}}</a></td>
              <td>{{supplier.tel_office}}</td>
              <td>{{supplier.fax_office}}</td>
              <td>
                <a href="" ng-click="viewPeople()">{{supplier.people}}</a>
              </td>
              <td>
                <button class="btn btn-danger" ng-click="delete(supplier)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="overlay" ng-if="loadingSupplierView">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
    </div>
    <!--/View Clients-->
  </div>
</div>
