<div class="box box-primary">
  <div class="box-body box-profile">
    <!--img class="profile-user-img img-responsive img-circle" src="images/people/profile_{{profileId}}.jpg" alt="User profile picture"-->

    <h3 class="profile-username text-center">{{supplier.name}}</h3>

    <div class="box-body">
      <strong><i class="fa fa-map-marker margin-r-5"></i>Location</strong>

      <p class="text-muted">
        {{supplier.address_line1}} <br/>
        {{supplier.address_line2}} <br/>
        {{supplier.address_line3}}
      </p>

      <hr>

      <strong><i class="fa fa-phone margin-r-5"></i>Contact</strong>

      <p>Tel(office): {{supplier.tel_office}} </p>
      <p>Tel(fax): {{supplier.fax_office}}</p>
      <p>Email: {{supplier.email}}</p>
      <hr>

      <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

    </div>
  </div>
</div>
