<div class="modal-header">
  <h3 class="modal-title" id="modal-title">View People of {{clientName}}</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="row">
    <div class="col-md-6">
      <h2>Designation</h2>
      <p>Full Name</p>
      <p>email@gmail.com</p>
      <p>Address Line 1</p>
      <p>Address Line 2</p>
      <p>Address Line 3</p>
      <p>Tel(M):0712000000</p>
      <p>Tel(O):0712000000</p>
      <p>Tel(H):0712000000</p>
    </div>

    <div class="col-md-6">
      <h2>Designation</h2>
      <p>Full Name</p>
      <p>email@gmail.com</p>
      <p>Address Line 1</p>
      <p>Address Line 2</p>
      <p>Address Line 3</p>
      <p>Tel(M):0712000000</p>
      <p>Tel(O):0712000000</p>
      <p>Tel(H):0712000000</p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">Ok</button>
</div>
