<!-- Main Footer -->
<footer class="main-footer">
  <!-- To the right -->
  <div class="pull-right hidden-xs">
    <b>Version</b> 1.0
  </div>
  <!-- Default to the left -->
  <strong>Copyright &copy; 2017 <a href="http://exaltrasoft.com">Exaltrasoft</a>.</strong> All rights reserved.
</footer>
