<div class="wrapper">
  <header-main></header-main>
  <sidebar-left></sidebar-left>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{pageTitle}}
        <small>{{pageSubTitle}}</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{URL_APPENDER}}"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol>
      <!--alert></alert-->
    </section>
    <ui-view></ui-view>
  </div>
  <!-- /.content-wrapper -->
  <footer-main></footer-main>
</div>
<!-- ./wrapper -->
