<div class="form-group" ng-class="{'has-error':error}">
  <label class="control-label" for="datepicker">
    {{label}}
  </label>

  <div class="input-group">
    <input type="text" class="form-control" id="{{id}}" name="{{id}}"
      uib-datepicker-popup="{{format}}" ng-model="value" is-open="popup1.opened"
      datepicker-options="dateOptions" ng-required="{{required}}" close-text="Close"
      alt-input-formats="altInputFormats" ng-change="change()" ng-focus="open()"/>

    <div class="input-group-btn">
      <button type="button" class="btn btn-default" ng-click="open()">
        <i class="fa fa-calendar"></i>
      </button>
    </div>
  </div>

  <span class="help-block" ng-if="error">{{errorMsg}}</span>
</div>
