<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Complete payments</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="row">
    <div class="col-md-12">
      <p>
        Total payment balance
        <b>Rs. {{paymentTotal}}</b>
      </p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-danger pull-left" ng-click="complete()" type="button">Complete</button>
  <button class="btn btn-warning" ng-click="cancel()" type="button">Cancel</button>
</div>
