<form novalidate class="form-validation" name="projectPlanPopupForm">
<div class="modal-header">
  <h3 class="modal-title" id="modal-title">
    Log Work: {{employee.profile.first_name + ' ' + employee.profile.last_name}}
    <small>{{empWork.date | date:dateFormat}} | {{empWork.project.name}}</small>
  </h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="row">
    <div class="col-md-6">
      <datepicker ng-disabled="!$parent.isCreate" label="Date" id="date" error="empWork.errors.date" error-msg="empWork.errors.date[0]" value="empWork.date" required="true"></datepicker>
      <drop-down label="Project" tab="2" id="projectSelector" error="empWork.errors.project" error-msg="empWork.errors.project[0]" data="projects.array" value="empWork.project"  required="true"></drop-down>
      <input-currency label="Day Payment" tab="4" value="empWork.daily_payable"></input-currency>

    </div>
    <div class="col-md-6">
      <input-text label="Work Description" tab="1" id="description" error="empWork.errors.work_description" error-msg="empWork.errors.work_description[0]" value="empWork.work_description" required="true"></input-text>
      <drop-down label="Assign to Project Task" tab="3" value="empWork.project_task"></drop-down>
      <input-currency label="Paid" tab="5" value="empWork.day_paid"></input-currency>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-if="$parent.isCreate" ng-click="create()">Create</button>
  <button class="btn btn-primary" type="button" ng-if="!$parent.isCreate" ng-click="update()">Update</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
</form>
