<form novalidate name="logWorkForm">
  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-primary" ng-click="logWork(logWorkForm)">Log Work</button>
    </div>
  </div>
</form>
<hr/>
<div class="row">
  <div class="col-md-3">
    <datepicker label="From Date" id="date" value="searchparam.fromDate"></datepicker>
  </div>
  <div class="col-md-3">
    <datepicker label="To Date" id="date" value="searchparam.toDate"></datepicker>
  </div>
  <div class="col-md-3">
    <drop-down label="Project" id="projectSelector" data="projects.array" value="searchparam.project"  required="true"></drop-down>
  </div>
  <div class="col-md-3">
    <input type="checkbox" ng-model="searchparam.completed"> Completed Payments  <br/>
    <input type="checkbox" ng-model="searchparam.incomplete"> Incomplete Payments
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <button class="btn btn-warning" ng-click="search()">Search</button>
    <button class="btn btn-primary" ng-click="completePayments()">Complete Transactions</button>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-bordered" at-table at-paginated at-list="workLog.works" at-config="tblconfig">
        <thead>
          <tr><th><input type="checkbox" ng-model="selectedworks.selectAll" ng-change="selectAll()"></th></tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="checkbox" ng-if="item.payment_completed!='1'" ng-change="selectwork(item)" ng-model="item.selected"></td>
            <td at-sortable at-attribute="Date">{{item.date | date:dateFormat}}</td>
            <td at-sortable at-attribute="Project">{{item.project.name}}</td>
            <td at-attribute="Work">{{item.work_description}}</td>
            <td at-sortable at-attribute="Payable">{{item.daily_payable}}</td>
            <td at-sortable at-attribute="Paid">{{item.day_paid}}</td>
            <td at-attribute="Action">
              <button class="btn btn-warning" ng-click="updateWork(item)">
                <i class="fa fa-edit"></i>
              </button>
              <button class="btn btn-danger" ng-click="deleteWork(item)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <at-pagination at-list="workLog.works" at-config="tblconfig"></at-pagination>
    </div>
  </div>
</div>
