<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Units</h3>
  </div>
  <div class="box-body">
    <alert panel="unit"></alert>
    <div class="row">
      <div class="col-md-12">
        <form novalidate class="form-validation">
          <input-text label="Unit" error-msg="unit.errors.name[0]" error="unit.errors.name" value="unit.name" on-enter="create()"></input-text>
        </form>
      </div>
    </div>
    <section class="sidebar">
      <ul class="list-view">
        <li ng-repeat="unit in units">
          <span>{{unit.name}}</span>
          <span class="pull-right">
            <i class="fa fa-trash" ng-click="delete(unit)"></i>
          </span>
        </li>
      </ul>
    </section>
  </div>
  <div class="overlay" ng-if="loadingUnits">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
</div>
